ya.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="vehicle">
		<xs:complexType/>
	</xs:element>
	<xs:element name="uid">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="6201_0_9600781_g16_4"/>
				<xs:enumeration value="6203_2_9600781_g16_4"/>
				<xs:enumeration value="6205_1_9600781_g16_4"/>
				<xs:enumeration value="6209_2_9600781_g16_4"/>
				<xs:enumeration value="6211_0_9601681_g16_4"/>
				<xs:enumeration value="6213_1_9600781_g16_4"/>
				<xs:enumeration value="6215_1_9600781_g16_4"/>
				<xs:enumeration value="6217_1_9601639_g16_4"/>
				<xs:enumeration value="6221_1_9601639_g16_4"/>
				<xs:enumeration value="6223_0_9600693_g16_4"/>
				<xs:enumeration value="6225_3_9600692_g16_4"/>
				<xs:enumeration value="6227_2_9601681_g16_4"/>
				<xs:enumeration value="6229_3_9601681_g16_4"/>
				<xs:enumeration value="6235_4_9601681_g16_4"/>
				<xs:enumeration value="6237_2_9600781_g16_4"/>
				<xs:enumeration value="6241_2_9600781_g16_4"/>
				<xs:enumeration value="6243_1_9600781_g16_4"/>
				<xs:enumeration value="6245_0_9600781_g16_4"/>
				<xs:enumeration value="6247_1_9601681_g16_4"/>
				<xs:enumeration value="6251_2_9600781_g16_4"/>
				<xs:enumeration value="6255_0_9601681_g16_4"/>
				<xs:enumeration value="6257_0_9600692_g16_4"/>
				<xs:enumeration value="6259_1_9601681_g16_4"/>
				<xs:enumeration value="6263_1_2000009_g16_4"/>
				<xs:enumeration value="6269_2_9601681_g16_4"/>
				<xs:enumeration value="6271_4_9600781_g16_4"/>
				<xs:enumeration value="6273_2_9601681_g16_4"/>
				<xs:enumeration value="6297_3_2000009_g16_4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="settlement"/>
				<xs:enumeration value="station"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="transport_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="suburban"/>
				<xs:enumeration value="train"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="total">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="28"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="to">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="type"/>
				<xs:element ref="title"/>
				<xs:element ref="short_title"/>
						<xs:element ref="station_type"/>
						<xs:element ref="popular_title"/>
						<xs:element ref="transport_type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Вербилки - Звенигород"/>
				<xs:enumeration value="Дмитров - Звенигород"/>
				<xs:enumeration value="Дмитров - Одинцово"/>
				<xs:enumeration value="Дубна - Звенигород"/>
				<xs:enumeration value="Дубна - Кубинка 1"/>
				<xs:enumeration value="Икша - Бородино"/>
				<xs:enumeration value="Икша - Звенигород"/>
				<xs:enumeration value="Икша - Кубинка 1"/>
				<xs:enumeration value="Икша - Можайск"/>
				<xs:enumeration value="Икша - Одинцово"/>
				<xs:enumeration value="Лобня - Голицыно"/>
				<xs:enumeration value="Лобня - Звенигород"/>
				<xs:enumeration value="Лобня - Кубинка 1"/>
				<xs:enumeration value="Лобня - Можайск"/>
				<xs:enumeration value="Лобня - Одинцово"/>
				<xs:enumeration value="Москва (Савёловский вокзал)"/>
				<xs:enumeration value="Москва (Савёловский вокзал) - Голицыно"/>
				<xs:enumeration value="Москва (Савёловский вокзал) - Одинцово"/>
				<xs:enumeration value="Одинцово"/>
				<xs:enumeration value="Центральная пригородная пассажирская компания"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="threads">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="to"/>
				<xs:element ref="from"/>
				<xs:element ref="stops"/>
				<xs:element ref="thread"/>
				<xs:element ref="arrival"/>
				<xs:element ref="duration"/>
				<xs:element ref="departure"/>
				<xs:element ref="arrival_platform"/>
				<xs:element ref="arrival_terminal"/>
				<xs:element ref="departure_platform"/>
				<xs:element ref="departure_terminal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="thread">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="uid"/>
				<xs:element ref="title"/>
				<xs:element ref="number"/>
				<xs:element ref="carrier"/>
				<xs:element ref="vehicle"/>
				<xs:element ref="short_title"/>
				<xs:element ref="express_type"/>
				<xs:element ref="transport_type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stops" type="xs:string"/>
	<xs:element name="station_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="вокзал"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sirena">
		<xs:complexType/>
	</xs:element>
	<xs:element name="short_title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="Вербилки - Звенигород"/>
				<xs:enumeration value="Дмитров - Звенигород"/>
				<xs:enumeration value="Дмитров - Одинцово"/>
				<xs:enumeration value="Дубна - Звенигород"/>
				<xs:enumeration value="Дубна - Кубинка 1"/>
				<xs:enumeration value="Икша - Бородино"/>
				<xs:enumeration value="Икша - Звенигород"/>
				<xs:enumeration value="Икша - Кубинка 1"/>
				<xs:enumeration value="Икша - Можайск"/>
				<xs:enumeration value="Икша - Одинцово"/>
				<xs:enumeration value="Лобня - Голицыно"/>
				<xs:enumeration value="Лобня - Звенигород"/>
				<xs:enumeration value="Лобня - Кубинка 1"/>
				<xs:enumeration value="Лобня - Можайск"/>
				<xs:enumeration value="Лобня - Одинцово"/>
				<xs:enumeration value="М-Савёловская"/>
				<xs:enumeration value="М-Савёловская - Голицыно"/>
				<xs:enumeration value="М-Савёловская - Одинцово"/>
				<xs:enumeration value="Одинцово"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="search">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="to"/>
				<xs:element ref="date"/>
				<xs:element ref="from"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="search"/>
				<xs:element ref="threads" maxOccurs="unbounded"/>
				<xs:element ref="pagination"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="popular_title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="Одинцово"/>
				<xs:enumeration value="Савёловский вокзал"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="per_page">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pagination">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="page"/>
				<xs:element ref="total"/>
				<xs:element ref="has_next"/>
				<xs:element ref="per_page"/>
				<xs:element ref="page_count"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="page_count">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="page">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="number">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="6201"/>
				<xs:enumeration value="6203"/>
				<xs:enumeration value="6205"/>
				<xs:enumeration value="6209"/>
				<xs:enumeration value="6211"/>
				<xs:enumeration value="6213"/>
				<xs:enumeration value="6215"/>
				<xs:enumeration value="6217"/>
				<xs:enumeration value="6221"/>
				<xs:enumeration value="6223"/>
				<xs:enumeration value="6225"/>
				<xs:enumeration value="6227"/>
				<xs:enumeration value="6229"/>
				<xs:enumeration value="6235"/>
				<xs:enumeration value="6237"/>
				<xs:enumeration value="6241"/>
				<xs:enumeration value="6243"/>
				<xs:enumeration value="6245"/>
				<xs:enumeration value="6247"/>
				<xs:enumeration value="6251"/>
				<xs:enumeration value="6255"/>
				<xs:enumeration value="6257"/>
				<xs:enumeration value="6259"/>
				<xs:enumeration value="6263"/>
				<xs:enumeration value="6269"/>
				<xs:enumeration value="6271"/>
				<xs:enumeration value="6273"/>
				<xs:enumeration value="6297"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="icao">
		<xs:complexType/>
	</xs:element>
	<xs:element name="iata">
		<xs:complexType/>
	</xs:element>
	<xs:element name="has_next">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="from">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="type"/>
				<xs:element ref="title"/>
				<xs:element ref="short_title"/>
				<xs:element ref="station_type"/>
				<xs:element ref="popular_title"/>
				<xs:element ref="transport_type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="express_type">
		<xs:complexType/>
	</xs:element>
	<xs:element name="duration">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1980.0"/>
				<xs:enumeration value="2220.0"/>
				<xs:enumeration value="2280.0"/>
				<xs:enumeration value="2340.0"/>
				<xs:enumeration value="2400.0"/>
				<xs:enumeration value="2460.0"/>
				<xs:enumeration value="2520.0"/>
				<xs:enumeration value="2580.0"/>
				<xs:enumeration value="2640.0"/>
				<xs:enumeration value="2820.0"/>
				<xs:enumeration value="3120.0"/>
				<xs:enumeration value="3180.0"/>
				<xs:enumeration value="3540.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="departure_terminal">
		<xs:complexType/>
	</xs:element>
	<xs:element name="departure_platform">
		<xs:complexType/>
	</xs:element>
	<xs:element name="departure">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="2016-04-14 04:44:00"/>
				<xs:enumeration value="2016-04-14 05:00:00"/>
				<xs:enumeration value="2016-04-14 05:09:00"/>
				<xs:enumeration value="2016-04-14 05:20:00"/>
				<xs:enumeration value="2016-04-14 06:04:00"/>
				<xs:enumeration value="2016-04-14 06:12:00"/>
				<xs:enumeration value="2016-04-14 06:44:00"/>
				<xs:enumeration value="2016-04-14 06:55:00"/>
				<xs:enumeration value="2016-04-14 07:14:00"/>
				<xs:enumeration value="2016-04-14 08:20:00"/>
				<xs:enumeration value="2016-04-14 08:30:00"/>
				<xs:enumeration value="2016-04-14 09:29:00"/>
				<xs:enumeration value="2016-04-14 10:13:00"/>
				<xs:enumeration value="2016-04-14 10:25:00"/>
				<xs:enumeration value="2016-04-14 14:14:00"/>
				<xs:enumeration value="2016-04-14 14:43:00"/>
				<xs:enumeration value="2016-04-14 14:49:00"/>
				<xs:enumeration value="2016-04-14 15:45:00"/>
				<xs:enumeration value="2016-04-14 15:54:00"/>
				<xs:enumeration value="2016-04-14 16:15:00"/>
				<xs:enumeration value="2016-04-14 17:17:00"/>
				<xs:enumeration value="2016-04-14 17:26:00"/>
				<xs:enumeration value="2016-04-14 17:54:00"/>
				<xs:enumeration value="2016-04-14 18:21:00"/>
				<xs:enumeration value="2016-04-14 18:40:00"/>
				<xs:enumeration value="2016-04-14 20:14:00"/>
				<xs:enumeration value="2016-04-14 20:24:00"/>
				<xs:enumeration value="2016-04-14 22:50:00"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="date">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2016-04-14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="iata"/>
				<xs:element ref="icao"/>
				<xs:element ref="sirena"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="153"/>
				<xs:enumeration value="c10743"/>
				<xs:enumeration value="s2000009"/>
				<xs:enumeration value="s9600721"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="carrier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="codes"/>
				<xs:element ref="title"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="arrival_terminal">
		<xs:complexType/>
	</xs:element>
	<xs:element name="arrival_platform">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="2 платф"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="arrival">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="2016-04-14 05:23:00"/>
				<xs:enumeration value="2016-04-14 05:37:00"/>
				<xs:enumeration value="2016-04-14 05:49:00"/>
				<xs:enumeration value="2016-04-14 06:01:00"/>
				<xs:enumeration value="2016-04-14 06:41:00"/>
				<xs:enumeration value="2016-04-14 06:50:00"/>
				<xs:enumeration value="2016-04-14 07:17:00"/>
				<xs:enumeration value="2016-04-14 07:48:00"/>
				<xs:enumeration value="2016-04-14 07:54:00"/>
				<xs:enumeration value="2016-04-14 09:00:00"/>
				<xs:enumeration value="2016-04-14 09:07:00"/>
				<xs:enumeration value="2016-04-14 10:21:00"/>
				<xs:enumeration value="2016-04-14 10:50:00"/>
				<xs:enumeration value="2016-04-14 11:08:00"/>
				<xs:enumeration value="2016-04-14 14:56:00"/>
				<xs:enumeration value="2016-04-14 15:16:00"/>
				<xs:enumeration value="2016-04-14 15:27:00"/>
				<xs:enumeration value="2016-04-14 16:27:00"/>
				<xs:enumeration value="2016-04-14 16:35:00"/>
				<xs:enumeration value="2016-04-14 16:54:00"/>
				<xs:enumeration value="2016-04-14 17:57:00"/>
				<xs:enumeration value="2016-04-14 18:06:00"/>
				<xs:enumeration value="2016-04-14 18:31:00"/>
				<xs:enumeration value="2016-04-14 19:08:00"/>
				<xs:enumeration value="2016-04-14 19:21:00"/>
				<xs:enumeration value="2016-04-14 20:57:00"/>
				<xs:enumeration value="2016-04-14 21:23:00"/>
				<xs:enumeration value="2016-04-14 23:34:00"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
